<div data-role="page" id="listSchools">
  <div data-role="header">
    <h1>Schools</h1>
  </div>

  <div data-role="content">
    <ul data-role="listview" id="schoolList">
    </ul>
  </div>
</div>

<div data-role="page" id="listRooms">
  <div data-role="header">
    <a href="#" data-rel="back">Tillbaka</a>
    <h1></h1>
  </div>

  <div data-role="content">
    <ul data-role="listview" data-filter="true" id="roomList">
    </ul>
  </div>
</div>

<div data-role="page" id="showRoom">
  <div data-role="header">
    <a href="#" data-rel="back">Tillbaka</a>
    <h1></h1>
  </div>

  <div data-role="content">
    <div id="googleMap"></div>
  </div>
</div>
