<div data-role="page" id="listSchools">
  <div data-role="header">
    <h1>Schools</h1>
  </div>

  <div data-role="content">
    <ul data-role="listview" id="schoolList">
    </ul>
  </div>
</div>

<div data-role="page" id="listRooms">
  <div data-role="header">
    <a href="#listSchools" data-direction="reverse" data-icon="arrow-l">Tillbaka</a>
    <h1></h1>
  </div>

  <div data-role="content">
    <ul data-role="listview" data-filter="true" id="roomList">
    </ul>
  </div>
</div>

<div data-role="page" id="showRoom">
  <div data-role="header">
    <a href="#listRooms" data-direction="reverse" data-icon="arrow-l">Tillbaka</a>
    <h1></h1>
  </div>

  <div data-role="content">
    <div id="googleMap"></div>
  </div>
</div>



<script id="school-template" type="text/html">
  <li>
    <a href="#listRooms" data-id="<%%= id %>"><%%= name %></a>
  </li>
</script>

<script id="room-template" type="text/html">
  <li>
    <a href="#showRoom" data-id="<%%= id %>"><%%= name %></a>
  </li>
</script>
