<h1><%= @room.name %></h1>
<div id="latitude" class="hiddenValue"><%= @room.building.latitude %></div>
<div id="longditude" class="hiddenValue"><%= @room.building.longditude %></div>
<div id="roomName" class="hiddenValue"><%= @room.building.name %></div>

<div id="map_canvas" style="width:640px; height:480px"></div>